@model ConsultorioMedico.Models.Consulta

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="pacienteID" class="control-label"></label>
                <select asp-for="pacienteID" class="form-control" asp-items="ViewBag.pacienteID"></select>
                <span asp-validation-for="pacienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pacienteCidadeID" class="control-label"></label>
                <input asp-for="pacienteCidadeID" class="form-control" readonly />
                <span asp-validation-for="pacienteCidadeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pacienteUFID" class="control-label"></label>
                <input asp-for="pacienteUFID" class="form-control" readonly />
                <span asp-validation-for="pacienteUFID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="medicoID" class="control-label"></label>
                <select asp-for="medicoID" class="form-control" asp-items="ViewBag.medicoID"></select>
                <span asp-validation-for="medicoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="medicoEspecialidadeID" class="control-label"></label>
                <input asp-for="medicoEspecialidadeID" class="form-control" readonly />
                <span asp-validation-for="medicoEspecialidadeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cidID" class="control-label"></label>
                <select asp-for="cidID" class="form-control" asp-items="ViewBag.cidID"></select>
                <span asp-validation-for="cidID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="medicamentoID" class="control-label"></label>
                <select asp-for="medicamentoID" class="form-control" asp-items="ViewBag.medicamentoID"></select>
                <span asp-validation-for="medicamentoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qtdeMedicamento" class="control-label"></label>
                <input asp-for="qtdeMedicamento" class="form-control" readonly/>
            </div>

            <div class="form-group">
                <label asp-for="valorConsulta" class="control-label"></label>
                <input asp-for="valorConsulta" class="form-control" />
                <span asp-validation-for="valorConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Preencher dados do paciente ao selecionar
            $('#pacienteID').change(function () {
                var pacienteId = $(this).val();

                // Verifique se está retornando o ID corretamente
                console.log("Paciente selecionado: " + pacienteId);

                $.getJSON('/Consultas/GetPacienteDetails', { id: pacienteId }, function (data) {
                    if (data) {
                        console.log(data); // Verifique o formato do retorno no console
                        $('#pacienteCidadeID').val(data.nomeCidade) // Espera-se que o backend retorne 'cidade'
                        $('#pacienteUFID').val(data.uf); // Espera-se que o backend retorne 'uf'
                    } else {
                        console.error("Erro ao buscar dados do paciente.");
                    }
                });
            });

            // Preencher especialidade do médico ao selecionar
            $('#medicoEspecialidadeID').change(function () {
                var medicoId = $(this).val();

                // Verifique se está retornando o ID corretamente
                console.log("Medico selecionado: " + medicoId);
                $.getJSON('/Consultas/GetMedicoEspecialidade', { id: medicoId }, function (data) {
                    console.log(data); // Verifica o retorno completo da requisição

                    if (data.success) {
                        $('#medicoEspecialidadeID').val(data.descricaoEspecialidade); // Preenche o campo com a especialidade
                    } else {
                        console.error(data.message); // Mostra mensagem de erro no console
                    }
                }).fail(function () {
                    console.error("Erro ao tentar buscar a especialidade do médico.");
                });
            });
        });
    </script>
}
