@model ConsultorioMedico.Models.Medico

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Medico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="especialidadeID" class="control-label"></label>
                <select asp-for="especialidadeID" class ="form-control" asp-items="ViewBag.especialidadeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="endereco" class="control-label"></label>
                <input asp-for="endereco" class="form-control" />
                <span asp-validation-for="endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefone" class="control-label"></label>
                <input asp-for="telefone" class="form-control" />
                <span asp-validation-for="telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cidadeID" class="control-label"></label>
                <select asp-for="cidadeID" class="form-control" asp-items="ViewBag.cidadeID" id="cidadeDropdown"></select>
                <span asp-validation-for="cidadeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UFID" class="control-label"></label>
                <input asp-for="UFID" class="form-control" id="ufInput" readonly="readonly" />
                <span asp-valid
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cidadeDropdown').change(function () {
                var cidadeID = $(this).val();
                console.log("Cidade selecionada: " + cidadeID); // Adicione este log
                if (cidadeID) {
                    $.ajax({
                        url: '@Url.Action("GetUFByCidade", "Pacientes")',
                        type: 'GET',
                        data: { cidadeID: cidadeID },
                        success: function (result) {
                            console.log("UF recebida: " + result); // Verifique se a UF está sendo recebida
                            $('#ufInput').val(result);  // Preenche o campo UF com a resposta do controlador
                        },
                        error: function () {
                            alert('Erro ao buscar UF.');
                        }
                    });
                } else {
                    $('#ufInput').val('');  // Limpa o campo UF se não houver cidade selecionada
                }
            });
        });
    </script>
}
