
<h1>@ViewData["Title"]</h1>

<div class="meucontainer">
    <h1>Política de Privacidade</h1>
    <p>Aqui no Sistema de Consultório Médico, valorizamos sua privacidade. Esta página detalha as práticas que adotamos para proteger suas informações pessoais.</p>
    <p>Coletamos informações apenas para fornecer um melhor serviço. Todos os dados são tratados com a máxima confidencialidade e não são compartilhados com terceiros sem o seu consentimento explícito, exceto quando exigido por lei.</p>
    <p>Ao utilizar nosso sistema, você concorda com esta política de privacidade e com as práticas descritas.</p>
    <p>Estamos comprometidos em manter seus dados seguros e protegidos. Para mais informações ou dúvidas, entre em contato com nossa equipe de suporte.</p>
</div>

<style>
    .meucontainer {
        max-width: 800px; /* Largura máxima do container */
        margin: 0 auto; /* Centraliza o container */
        background-color: white; /* Cor de fundo do container */
        padding: 20px; /* Espaçamento interno */
        border-radius: 8px; /* Cantos arredondados */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra do container */
    }

    h1 {
        font-size: 2.5rem;
        color: #333;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.1rem;
        color: #666;
        line-height: 1.6;
    }
</style>
