@model ConsultorioMedico.Models.Medicamento

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Medicamento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qtdeEstoque" class="control-label"></label>
                <input asp-for="qtdeEstoque" class="form-control" min="0" max="100" step="1" />
                <span asp-validation-for="qtdeEstoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estoqueMin" class="control-label"></label>
                <input asp-for="estoqueMin" class="form-control" min="0" max="100" step="1" />
                <span asp-validation-for="estoqueMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estoqueMax" class="control-label"></label>
                <input asp-for="estoqueMax" class="form-control" min="0" max="100" step="1" />
                <span asp-validation-for="estoqueMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precoUnitario" class="control-label"></label>
                <input asp-for="precoUnitario" class="form-control" />
                <span asp-validation-for="precoUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
